			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Welcome</h2>
							<p>Home.</p>
						</header>
						<span class="image"> <%= image_tag "church_logo.jpg" %></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main">
					<%= image_tag "bible_purple.jpg" %>
					</span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>Sunday Church</h2>
										<p>Come join us Sunday mornings for Worship.</p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p>At New Beginnings Assembly of God we’re all about Jesus — and the only way to get to know Jesus is to begin with what he said about himself. That is why we gather every week to pray to Jesus, sing about Jesus, and to hear teaching from the Bible about how God is accomplishing his plan to rescue the world through Jesus. Learn more about us <%= link_to('here', static_pages_history_path) %>.</p>
								</div>
								<div class="4u$ 12u$(medium)">
                                    <h2>For Kids</h2>
									<p>We offer a safe and caring environment for children ages 6 weeks to 6 years old.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><%= image_tag "laptop_bg.png" %></span>
					<div class="content">
						<header>
							<h2>Whats New?</h2>
							<p>Find out more about whats happening at New Beginnings!</p>
						</header>
						<p>There are plenty of events and activities here at New Beginnings Assembly of God, Check out our blog to see what were up to!</p>
						<ul class="actions">
							<li><%= link_to('Our Blog', posts_path, class: "button",) %></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><%= image_tag "CC.png" %></span>
					<div class="content">
						<header>
							<h2>Childrens Church</h2>
							<p>Let us help your child learn and grow!</p>
						</header>
						<p>Sundays at 10:30AM</p>
						<ul class="actions">
							<li><%= link_to('Learn More', static_pages_childrensministries_path, class: "button",) %></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Heres some information about us!</h2>
							<p>Learn a little about us before you stop by!</p>
						</header>
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-globe"></span>
									<h3>Where are we?</h3>
									<p>You can find us here: 733 N Sandusky St. Tiffin, OH 44883<br>Or give us a call at: (419) 447-8320</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-clock-o"></span>
									<h3>When is Worship?</h3>
									<p>Sunday School: 9:30am-10:30am
Worship: 10:30am-12:00am</p>
								</section>
								<section class="4u$ 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-lightbulb-o"></span>
									<h3>What do we believe in?</h3>
									<p>We belive that the Bible is the only inspired, infallible and authoritative Word of God.</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-book"></span>
									<h3>Our Preschool</h3>
									<p>New Beginnings Christian Preschool has been established to provide quality, loving care while preparing each child for a successful transition to elementary school.</p>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-users"></span>
									<h3>Ministries</h3>
									<p>We have ministries for everyone of all ages!</p>
								</section>
								<section class="4u$ 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-rss"></span>
									<h3>Our Blog</h3>
									<p>Find out whats happening around here at New Beginnings and learn whats upcoming!</p>
								</section>
							</div>
						</div>
					</div>
				</section>






