<p id="notice"><%= notice %></p>


<div class="container container-dark">
<p>
    <strong>Name:</strong>
    <%= @bulletin.name %>

  </p>
  <embed src="<%= @bulletin.pdf_url.to_s %>" class="bulletin-pdf" />
  
  <% if signed_in? %>
    <%= link_to 'Edit', edit_bulletin_path(@bulletin) %> |					   
  <% end %>
  
  <%= link_to 'Back', bulletins_path %>  
</div>