<div class="container post-container" id="posts-page">
  
  
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-6 col-sm-6 col-xs-6 blog-post">
        <div class="col-md-12 post-guts">
        <h1><%= post.title %></h1>
        <h2>Posted <%= "#{time_ago_in_words(post.created_at)} ago" %><br> By <%= post.user.user_name %></h2>
        <%= image_tag "church-man-sea.jpg", :class => "postimage" %>
        <p> <%= raw post.body[0,225] %>...</p>
        <%= link_to 'Read More', post, :class => "button special linkbutton" %>
        <br>
        <% if signed_in? && current_user.admin? %>
          <%= link_to 'Edit', edit_post_path(post), :class => "button special editbutton" %>
          <%= link_to 'Delete', post,
            method: :delete,
            data: { confirm: 'Are you sure? This cannot be undone.'},
            :class => "button special deletebutton" %>
        <% end %>
        </div>
      </div>
    <% end %>

      
    



  </div>
    <div class="pagenumbers">
      <%= will_paginate @posts %>  
    </div>
</div>