<div class="container" id="posts-page">
  <p id="notice"><%= notice %></p>
  
  <div class="row">
    <% if signed_in? && current_user.admin? %>  
      <div class="col-md-12 blog-post">
        <%= link_to 'New Post', new_post_path, :class =>"btn btn-lg btn-primary" %>
      </div>
    <% end %>
    <% @posts.each do |post| %>
      <div class="col-md-12 blog-post">
        <h2><%= post.title %></h2>

        <p><%= raw post.body %></p>
        <% if signed_in? && current_user.admin? %>  
          <%= link_to 'Edit', edit_post_path(post),
            :class => "btn btn-xs btn-warning" %> 
          <%= link_to 'Delete', post, 
            method: :delete, 
            data: { confirm: 'Are you sure?'},
            :class => "btn btn-xs btn-danger"  %>
        <% end %>
        <%= link_to 'Read More', post, :class => "btn btn-xs btn-success" %>
      </div>
    <% end %>
      
    



  </div>

  

</div>