<div class="container post-container" id="posts-page">
  <% if signed_in? && current_user.admin? %>  
    <%= link_to 'New Post', new_post_path, :class =>"btn btn-lg btn-primary", :id =>"new-post" %>
  <% end %>
  
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-12 blog-post">
        <h2><%= post.title %></h2>
        <p>Written by <%= post.user.user_name %> <%= "#{time_ago_in_words(post.created_at)} ago" %></p>
        <p> <%= raw post.body %></p>
        <% if signed_in? && current_user.admin? %>  
          <%= link_to 'Edit', edit_post_path(post),
            :class => "btn btn-xs btn-warning" %> 
          <%= link_to 'Delete', post, 
            method: :delete, 
            data: { confirm: 'Are you sure?'},
            :class => "btn btn-xs btn-danger"  %>
        <% end %>
        <%= link_to 'Read More', post, :class => "btn btn-xs btn-success" %>
      </div>
    <% end %>
      
    



  </div>

  

</div>