<div class="container post-container" id="posts-show">
  <p id="notice"><%= notice %></p>
  

    <h1><%= @post.title %></h1>
<h2><%= @post.user.user_name %></h2>
  
  <p><%= raw @post.body %></p>
  
  <%= link_to 'Back', posts_path,
            :class => "button special backbutton" %>

  <br>
  <% if signed_in? && current_user.admin? %>
          <%= link_to 'Edit', edit_post_path, :class => "button special editbuttonpost" %>
          <%= link_to 'Delete', post_path,
            method: :delete,
            data: { confirm: 'Are you sure? This cannot be undone.'},
            :class => "button special deletebutton" %>
        <% end %>
</div>