<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Beginnings</title>
    <%= stylesheet_link_tag :all %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  
	<body class = "landing is-touch">

		<div id="page-wrapper">
			<!-- Header -->
				<header id="header">
					
						<%= link_to image_tag("NB.jpg"), root_path, :turbolinks => "false", :id => "brand-img" %><!--static_pages.css-->
			
					<nav id="nav">
						<ul>
							<% unless current_page?(root_path) %>
								<li class="homebutton">
									<%= link_to('Home', root_path) %>
								</li>
							<% end %>
							<li>
								
								<a href="#">About</a>
								<ul>
									<li id="subnav"><%= link_to('Staff & Leaders', static_pages_staff_path) %></li>
									<li id="subnav"><%= link_to('History', static_pages_history_path) %></li>
                  <li id="subnav"><%= link_to('Bulletin', static_pages_wip_path) %></li>
								</ul>
							</li>
							<li>
								<a href="#">Connect</a>
								<ul>
									<li id="subnav"><%= link_to('Contact', static_pages_contact_path) %></li>
								</ul>
							</li>
              <li>
								<a href="#">Ministries</a>
								<ul>
									<li id="subnav"><%= link_to('Womens Ministries', static_pages_womensministries_path) %></li>
                  <li id="subnav"><%= link_to('Mens Ministries', static_pages_mensministries_path) %></li>
                  <li id="subnav"><%= link_to('Young Adult Ministries', static_pages_youngadultministries_path) %></li>
                  <li id="subnav"><%= link_to('Invincible Student Ministries', static_pages_studentministries_path) %></li>
                  <li id="subnav"><%= link_to('Childrens Ministries', static_pages_childrensministries_path) %></li>
                  <li id="subnav"><%= link_to('55+ Club', static_pages_55club_path) %></li>
                  <li id="subnav"><%= link_to('Special Needs Ministries', static_pages_specialneedsministries_path) %></li>
								</ul>
							</li>
                <li>
								<a href="#">Events</a>
								<ul>
									<li id="subnav"><%= link_to('Calender', static_pages_wip_path) %></li>
									<li id="subnav"><%= link_to('Blog', posts_path) %></li>
								</ul>
							</li>
							<li><%= link_to('Preschool', static_pages_preschool_path, class: "button preschoolbutton",)  %></li>
							<!--<li><a href="#" class="button special">Give <i class="fa fa-heart" aria-hidden="true"></i></a></li>-->
							
							<li class="mobilesignin">
					  		<% if signed_in? && current_user.admin? %>
					  		<li>|</li>
					  			<%= link_to('New Post', new_post_path, :class => "button special new-post") %>
					  			<a href="#myModal" class="button special logoutbutton" data-toggle="modal" data-target="#myModal" id:"btn-logout">Logout</a>
					  		<% end %>
							</li>
						</ul>
					</nav>
				</header>
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
	<div id="startchange"></div>
				
    <%= yield %>


	<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter" id="twitter_footer"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/NewBeginningsTiffin/" class="icon fa-facebook" id="facebook_footer"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-instagram" id="instagram_footer"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon fa-envelope" id="email_footer"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; New Beginnings Assembly of God. All rights reserved.</li><li>Design: <a href="http://www.fruitblock.com/shanerybka/">Shane Rybka</a></li><li>Backend Development: <a href="http://www.adamshortsleeves.com/">ShortSleeve WebDev</a></li>
				<li>
			  	<% if current_page?(posts_path) %>
					  <% if signed_in? %>
					    <%= link_to('Admin Logout', destroy_user_session_path, :method => :delete) %> 
					  <% else %>
					    <%= link_to('Admin Login', new_user_session_path) %>
					  <% end %>
					<% end %>
			  </li>
			</ul>
		</footer>
		
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to logout?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= link_to('Admin Logout', destroy_user_session_path, :method => :delete) %> 
      </div>
    </div>
  </div>
</div>
		
		
		
				</div><!--/page wrapper-->
				
		
		
  </body>
</html>