<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Beginnings</title>
    <%= stylesheet_link_tag :all %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  
	<body class = "landing is-touch">

		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					
						<%= link_to image_tag("NB.jpg"), root_path, :id => "brand-img" %><!--static_pages.css-->
			
					<nav id="nav">
						<ul>

							<li>
								<a href="#">About</a>
								<ul>
									<li id="subnav"><a href="#">Staff</a></li>
									<li id="subnav"><a href="#">Leaders</a></li>
									<li id="subnav"><a href="#">History</a></li>
                  <li id="subnav"><a href="#">Beliefs</a></li>
                  <li id="subnav"><a href="#">Bulletin</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Connect</a>
								<ul>
									<li id="subnav"><a href="#">Contact</a></li>
									<li id="subnav"><a href="#">Prayers</a></li>
								</ul>
							</li>
              <li>
								<a href="#">Ministries</a>
								<ul>
									<li id="subnav"><a href="#">Women's Ministries</a></li>
                  <li id="subnav"><a href="#">Men's Ministries</a></li>
                  <li id="subnav"><a href="#">Young Adult Ministries</a></li>
                  <li id="subnav"><a href="#">Youth Ministries</a></li>
                  <li id="subnav"><a href="#">Children's Ministries</a></li>
								</ul>
							</li>
                <li>
								<a href="#">Events</a>
								<ul>
									<li id="subnav"><a href="#">Calendar</a></li>
									<li id="subnav"><%= link_to('Blog', posts_path) %></li>
								</ul>
							</li>
							<li><a href="elements.html">Preschool</a></li>
							<li><a href="#" class="button special">Give <i class="fa fa-heart" aria-hidden="true"></i></a></li>
						</ul>
					</nav>
				</header>
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
	<div id="startchange"></div>
				
    <%= yield %>


	<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; New Beginnings Assembly of God. All rights reserved.</li><li>Design: <a href="www.fruitblock.com/shanerybka/">Shane Rybka</a></li>
				<li>
			  	<% if current_page?(posts_path) %>
					  <% if user_signed_in? %>
					    <%= link_to('Admin Logout', destroy_user_session_path, :method => :delete) %>
					  <% else %>
					    <%= link_to('Admin Login', new_user_session_path) %>
					  <% end %>
					<% end %>
			  </li>
			</ul>
		</footer>
				</div><!--/page wrapper-->
  </body>
</html>
