<!DOCTYPE html>
<html>
  <head>
    <title>New Beginnings</title>
    <%= stylesheet_link_tag :all %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  

  <body class = "landing is-touch">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html">New Beginnings Assembly of God</a></h1>
					<nav id="nav">
						<ul>
						  <li>
						  <% if user_signed_in? %>
						    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
						  <% else %>
						    <%= link_to('Login', new_user_session_path) %>
						  <% end %>
						  </li>
							<li>
								<a href="#">About</a>
								<ul>
									<li><a href="left-sidebar.html">Staff</a></li>
									<li><a href="right-sidebar.html">Leaders</a></li>
									<li><a href="no-sidebar.html">History</a></li>
                  <li><a href="no-sidebar.html">Beliefs</a></li>
                  <li><a href="no-sidebar.html">Bulletin</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Connect</a>
								<ul>
									<li><a href="left-sidebar.html">Contact</a></li>
									<li><a href="right-sidebar.html">Prayers</a></li>
								</ul>
							</li>
              <li>
								<a href="#">Ministries</a>
								<ul>
									<li><a href="no-sidebar.html">Women's Ministries</a></li>
                  <li><a href="no-sidebar.html">Men's Ministries</a></li>
                  <li><a href="no-sidebar.html">Young Adult Ministries</a></li>
                  <li><a href="no-sidebar.html">Youth Ministries</a></li>
                  <li><a href="no-sidebar.html">Children's Ministries</a></li>
								</ul>
							</li>
                <li>
								<a href="#">Events</a>
								<ul>
									<li><a href="left-sidebar.html">Calendar</a></li>
									<li><a href="right-sidebar.html">Blog</a></li>
								</ul>
							</li>
							<li><a href="elements.html">Preschool</a></li>
							<li><a href="#" class="button special">Give <i class="fa fa-heart" aria-hidden="true"></i></a></li>
						</ul>
					</nav>
				</header>
				

				
    <%= yield %>


	<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; New Beginnings Assembly of God. All rights reserved.</li><li>Design: <a href="www.fruitblock.com/shanerybka/">Shane Rybka</a></li>
			</ul>
		</footer>
				</div><!--/page wrapper-->
  </body>
</html>
